# Default ignored files
/shelf/

/lab5/.idea
/lab5/cmake-build-debug
/lab6/.idea
/lab6/cmake-build-debug
/lab7/.idea
/lab7/cmake-build-debug
/lab8/.idea
/lab8/cmake-build-debug
/lab9/.idea
/lab9/cmake-build-debug
/П_1_4lab/.idea
/П_1_4lab/cmake-build-debug

/Zadaniye_3/.idea
/Zadaniye_3/cmake-build-debug
/zadaniye_1/cmake-build-debug
/zadaniye_1/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/misc.xml
/modules.xml
/vcs.xml
/workspace.xml
/zadaniye_1.iml

/.idea
/cmake-build-debug


/lab5/.idea
/lab5/cmake-build-debug
/2/.idea
/2/cmake-build-debug
/lab6
/LAba6/.idea
/LAba6/cmake-build-debug
/lab7/.idea
/lab7/cmake-build-debug
/lab8/.idea
/lab8/cmake-build-debug


